@font-face {
    font-family: openSans-bold;
    src: url('fonts/openSans/OpenSans-Bold.ttf')
}
@font-face {
    font-family: openSans-regular;
    src: url('fonts/openSans/OpenSans-Regular.ttf')
}
@font-face {
    font-family: raleway-bold;
    src: url('fonts/raleway/Raleway-Bold.ttf')
}
@font-face {
    font-family: raleway-regular;
    src: url('fonts/raleway/Raleway-Regular.ttf')
}